<!DOCTYPE html>
<html lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta name="google-signin-client_id" content="770275186710-1irm3726thl2h8jrf7euicpco1bl7hm7.apps.googleusercontent.com">

    <script src="/static/js/jquery/jquery.min.js"></script>
    <script src="/static/js/jquery/jquery_mask.js"></script>
    <script src = "/static/js/main.js"></script>
    <title>Bank filler</title>
</head>

<body>
    <button onclick="const link = document.createElement('a');
    link.href = `/sendPdf?id=1&userid=${document.getElementById('selector').options[document.getElementById('selector').options.selectedIndex].value}`;
    link.download = `Анкета_ВТБ.pdf`;
    link.click();">Анкета ВТБ
    </button>
    <button onclick="const link = document.createElement('a');
    link.href = `/sendPdf?id=2&userid=${document.getElementById('selector').options[document.getElementById('selector').options.selectedIndex].value}`;
    link.download = `Согласия_ВТБ.pdf`;
    link.click();">Согласия ВТБ
    </button>
    <button onclick="const link = document.createElement('a');
    link.href = `/sendPdf?id=3&userid=${document.getElementById('selector').options[document.getElementById('selector').options.selectedIndex].value}`;
    link.download = `Справка_ВТБ.pdf`;
    link.click();">Справка ВТБ
    </button>
    <button onclick="const link = document.createElement('a');
    link.href = `/sendPdf?id=4&userid=${document.getElementById('selector').options[document.getElementById('selector').options.selectedIndex].value}`;
    link.download = `Согласие_Совкомбанк.docx`;
    link.click();">Согласие Совкомбанк
    </button>
    <button onclick="const link = document.createElement('a');
    link.href = `/sendPdf?id=5&userid=${document.getElementById('selector').options[document.getElementById('selector').options.selectedIndex].value}`;
    link.download = `Форма_3-502-1.docx`;
    link.click();">Форма 3-502-1
    </button>
    <button onclick="const link = document.createElement('a');
    link.href = `/sendPdf?id=6&userid=${document.getElementById('selector').options[document.getElementById('selector').options.selectedIndex].value}`;
    link.download = `Согласия_ТФ-2216-191.docx`;
    link.click();">Согласия ТФ-2216-191
    </button>
    <button onclick="const link = document.createElement('a');
    link.href = `/sendPdf?id=7&userid=${document.getElementById('selector').options[document.getElementById('selector').options.selectedIndex].value}`;
    link.download = `Справка_о_доходах.docx`;
    link.click();">Справка о доходах
    </button>
<hr>
<select id="selector">
</select>

</body>
</html>